/* Universal Styling, Background Image */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --gradient:linear-gradient(
        rgb(209, 49, 110) 0%,
        rgb(219, 85, 23) 100%); 

}
/* Background gradient styling */
body { 
    background-image: var(--gradient);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header Styling */

header { 
    background-image: url("../images/headerbackground.jpg");
    background-color: rgba(139, 138, 138, 0.493);
    background-position: 150px 800px;
    background-size: center;
    border: 7px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 220px;
    position: static;
}

/* Headshot Border and Box styling*/
.headfig {
    width: 150px;
}

.headshot {
    height: 200px;
    border-radius: 5%;
    margin: 10px 10px;
    object-fit: scale-down;
    border: 5px solid rgb(230, 146, 62);
}

/* Name Box */
.namestyle {
    font-size: 75px;
    color: rgb(0, 0, 0);
    margin: 10px;
    position: absolute;
    top: 55px;
    left: 137px;
    padding: 5px 5px;
    border-left: none;
    background-color: rgb(230, 146, 62);
}


/* Nav Bar / Links*/

.navbar {
    margin: auto;
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -65px;
    max-height: auto;

}

.navlinks {
    text-decoration: none;
    display: inline-flex;
    gap: 50px;
}

.navlinks li {
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    padding: 3px 10px
}

.navlinks a {
    color: rgb(230, 146, 62);
}

a:link {
    text-decoration: none;
}

nav a:hover {
    color: rgb(209, 49, 110);
}

/* About Me */

.left-side {
    margin: 25px;
    height: auto;
    width: auto;
    display: flex;
}

.left-side h2 {
    font-size: 50px;
    border-right: 5px solid black;
    height: 175px;
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side p {
    margin-left: 35px;
    font-size: 22px;
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-right: 250px;
    text-align: center;
}


/* App Cards / Main Section */
.appmain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin: auto;
    align-content: center;
    
}

.mywork {
    margin: 0 25px;
    font-size: 50px;
    border-right: 5px solid black;
    height: relative;
    min-width: 350px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.heromain {
    margin: 0px 54px;
}

.hero {
    margin: 10px auto;
    width: 1250px;
    object-fit: scale-down;
    border: 10px solid rgb(0, 0, 0);
    filter: brightness(75%);
}
/* Application Text Card for Hero image */
.figcard {
    background-color: rgb(230, 146, 62);
    font-size: 40px;
    border: 5px solid rgb(0, 0, 0);
    top: -100px;
    padding: 5px 5px;
    position: relative;
    width: fit-content;
}
/* Hero hover styling */
.heromain:hover {
    filter: brightness(100%);
    filter: saturate(130%);
}

.figcard a {
    color: rgb(0, 0, 0);
}


/* Small Cards / Card Section Two */

.appcards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin: 25px 370px 25px 360px;
    max-width: 1400px;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 155px;
    max-width: 550px;
    
}

.cards a {
    max-height: 300px;
    border-radius: 25px;
    color: black;
}
/* Cards Image Styling */
.cardsmall {
    width: 600px;
    max-height: 200px;
    border: 9px solid black;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(75%);
}

.smcardtext {
    background-color: rgb(230, 146, 62);
    font-size: 20px;
    width: auto;
    max-height: 35px;
    border: 5px solid rgb(0, 0, 0);
    position: relative;
    left: 5px;
    top: -50px;
    text-align: center;
    color: black;
}

.appcards :hover {
    filter: brightness(100%);
    filter: saturate(130%);


}
/* Contact Links */

.contactlinks {
    text-decoration:none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 40px;
    margin-left: 100px;
    color: black;
}

.contactlinks li {
    padding: 5px;
    border: 5px solid black;
    border-radius: 15px;
    margin-right: 50px;
}

.contactlinks a{
    color: black;
}

.contactlinks a:hover{
    color: rgb(230, 146, 62);
}
.contactlinks :hover{
    color: rgb(230, 146, 62);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 200px;
}

/* Media Rules */
@media screen and (max-width: 1050px) {
    .navbar {

        flex-direction: row;

    }

    .left-side{
      flex-direction: column;
      margin: 0;
    }

    .left-side h2{
        font-size: 60px;
        border: 0;
      }
      .left-side p{
        margin: 10px;
      }

    .appmain{
        margin: auto;
    }
      
    .mywork{
          font-size: 60px;
          border: 0;
          margin: 0;
        }
    .contact {
        margin: 0;
    }
    .contactlinks{
        font-size: 25px;
        border: 0;
        gap: 0;
        margin: auto;
        flex-direction: column;
        }
    main img{
            max-width: 500px;
        }
    .appmain {
        flex-direction: column;
        align-content: center;
    }
    }
    