/* Universal Styling, Background Image */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --gradient:linear-gradient(
        rgb(209, 49, 110) 0%,
        rgb(219, 85, 23) 100%); 

}
/* Background gradient styling */
body { 
    background-image: var(--gradient);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header / Nav */

header { 
    background-image: url("../images/headerbackground.jpg");
    background-color: rgba(139, 138, 138, 0.493);
    background-position: 150px 800px;
    background-size: center;
    border: 7px solid rgb(3, 1, 5);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 220px;
}

/* Headshot Border and Box styling*/
.headfig {
    width: 150px;
}

.headshot {
    width: 150px;
    height: 200px;
    border-radius: 5%;
    margin: 10px 10px;
    object-fit: cover;
    border: 5px solid rgb(236,170,103);
}

/* Nav Bar Links and h1 */

.navlinks a {
    color: rgb(226, 164, 136);
}

a:link {
    text-decoration: none;
}

header li a:hover {
    color: rgb(230, 146, 62);
}

nav {
    color:rgb(226, 164, 136);
    margin: auto;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: -65px;

}

nav ul {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
}
nav li {
    font-size: 35px;
    background-color: rgb(40,13,8);
    padding: 3px 10px
}
/* Name Box */
.namestyle {
    font-size: 55px;
    color: rgb(0, 0, 0);
    margin: 10px;
    position: absolute;
    top: 75px;
    left: 150px;
    padding: 5px 5px;
    border-left: none;
    background-color: rgb(236,170,103);
}


/* App Cards / Main Section */

.appcards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.appcards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero {
    width: 1200px;
    max-height: 600px;
    object-fit: cover;
    border: 10px solid rgb(236,170,103);
    margin-top: 20px;
}

.figcard {
    background-color: rgb(40,13,8);
    font-size: 40px;
    border: 5px solid rgb(236,170,103);
    top: -100px;
    left: 6px;
    padding: 5px 5px;
    position: relative;
    width: fit-content;
}

.figcard a {
    color: rgb(226, 164, 136);
}


/* Small Cards / Card Section Two */
.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 350px;
    
}

.cards a {
    max-height: 300px;
    border-radius: 25px;
    color: black;
}

.cardsmall {
    width: 800px;
    max-height: 300px;
    border: 10px solid black;
    border-radius: 10px;
    object-fit: cover;
}

.smcardtext {
    background-color: rgb(230, 146, 62);
    font-size: 20px;
    width: 200px;
    max-height: 30px;
    border: 5px solid rgb(0, 0, 0);
    position: relative;
    left: 5px;
    top: -50px;
    text-align: center;
    color: black;
}

.cards img :hover {

    object-fit: scale-down;
    box-shadow: inset 5px 5px 100px;
    background-color: rgba(61, 61, 61, 0.425);


}
/* About Me Section and Aside */

.left-side {
    margin: 10px 10px;
    height: auto;
    width: auto;
    display: flex;
    max-width: 2000px;
}

.left-side h2 {
    margin: 5px;
    font-size: 50px;
    border-right: 5px solid black;
    height: 150px;
    min-width: 300px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side p {
    margin: 20px 0px 20px 20px;
    font-size: 22px;
    display: flex;
    align-items: center;
    line-height: 1.5;
    border-right: 5px solid black;
}

